//- metadata code block
include ./includes/head


body
	// header section
	//- includes navBar
	include ./includes/header


	// main content
	#wrapper
		// aboutme
		include ./includes/aboutme

		// services
		include ./includes/services

		// portfolio
		include ./includes/portfolio

		// contactme
		include ./includes/contactme


	// footer section
	include ./includes/footer


	// JS libraries and scripts
	//- vendor libs
	script(src='js/libs/jquery/jquery.min.js')
	script(src='js/libs/n33/jquery.scrollex/jquery.scrollex.min.js')
	script(src='js/libs/jquery.scrolly/jquery.scrolly.min.js')
	script(src='js/libs/n33/skel/skel.min.js')
	script(src='js/libs/n33/util.js')
	//- project scripts
	script(src='js/main.js')

		