
<section id="two" class="wrapper alt spotlight style2">
  <div class="inner"><a href="#" class="image"><img src="img/pic02.jpg" alt=""/></a>
    <div class="content">
      <h2 class="major">Submit a Concept Proposal</h2>
      <p>
        Calling all producers and film-makers! We are looking for content to inspire and strenghten the community. We welcome Concept Papers. Click the button below to access the submission page
        
      </p><a href="https://docs.google.com/forms/d/1uhMx8kKGPWwcgtXdCdBjW4ixq9Zk0lMWBu6P40eNhxQ/viewform" target="_blank" class="special">Submit a proposal</a>
    </div>
  </div>
</section>