
<section id="contactme" class="wrapper style1 fade-up">
  <div class="inner">
    <h2>Get in touch</h2>
    <p>Drop a line... Say hello... Request a proposal! I would love to hear about you and explore ways I can contribute to your project. You should also look me up on social media to checkout what mischief i am up to today ^_^</p>
    <div>
      <section>
        <ul class="contact">
          <li>
            <h3>My Calendar</h3><i class="fa fa-calendar"><a href="https://calendly.com/randychampagne" target="_blank">schedule a meeting</a></i>
          </li>
          <li>
            <h3>Skype</h3><i class="fa fa-skype"><a href="skype:rc.webdevelopment">rc.webdevelopment</a></i>
          </li>
          <li>
            <h3>My Qualifications</h3><i class="fa fa-linkedin"><a href="https://www.linkedin.com/in/randychampagne" target="_blank">curriculum vitae</a></i>
          </li>
          <li>
            <h3>Code Samples</h3><i class="fa fa-github"><a href="https://github.com/champagne-randy" target="_blank">github repositories</a></i>
          </li>
          <li>
            <h3>Social Media Channels</h3>
            <ul class="icons">
              <li><a href="https://twitter.com/RandyChampagne" target="_blank" class="fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="https://www.facebook.com/rcwebdevelopment/" target="_blank" class="fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="https://www.instagram.com/creolemusings/" target="_blank" class="fa-instagram"><span class="label">Instagram</span></a></li>
              <li><a href="https://www.tumblr.com/blog/creolemusings" target="_blank" class="fa-tumblr"><span class="label">Tumblr</span></a></li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>