
<section id="footer">
  <div class="inner">
    <h2 class="major">Get in touch</h2>
    <p>
      We would love to hear you. Go ahead and share your ideas, thoughts, on concerns in the form below. You should aslo drop by any of our social media pages and say hello.
      
      
      
    </p>
    <form method="post" action="#">
      <div class="field">
        <label for="name">Name</label>
        <input id="name" type="text" name="name"/>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input id="email" type="email" name="email"/>
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="4"></textarea>
      </div>
      <ul class="actions">
        <li>
          <input type="submit" value="Send Message"/>
        </li>
      </ul>
    </form>
    <ul class="contact hidden">
      <li class="fa-home">
        Involved Community Network <br>
        110 Rev. Dr. Isaac Cole Plz <br>
        Atlantic City, NJ 08401
        
      </li>
      <li class="fa-phone">(000) 000-0000</li>
      <li class="fa-envelope"><a href="#">information@untitled.tld</a></li>
      <li class="fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
      <li class="fa-facebook"><a href="#">facebook.com/untitled-tld</a></li>
      <li class="fa-instagram"><a href="#">
          instagram.com/untitled-tld
          </a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Involved Community Network. All rights reserved.</li>
      <li>Powered by: <a href="http://www.randychampagne.com">Randy Champagne | Web Development</a></li>
    </ul>
  </div>
</section>