
<!-- Menu collapsed-->
<header id="header" class="alt">
  <h1><a href="index.html">Involved Community Network</a></h1>
  <nav><a href="#menu">
      Menu
      
      
      </a></nav>
</header>
<!-- Menu expanded-->
<nav id="menu">
  <div class="inner">
    <h2>Menu</h2>
    <ul class="links">
      <li><a href="#banner">Welcome</a></li>
      <li><a href="#one">What we do</a></li>
      <li><a href="#two">Submit a proposal</a></li>
      <li><a href="#three">Get involved</a></li>
      <li><a href="#">Log in</a></li>
      <li><a href="#">
          Sign Up
          </a></li>
    </ul><a href="#" class="close">Close</a>
  </div>
</nav>